body {
    font-family: "HelveticaNeue", "Arial", sans-serif;
    background: black;
  }
h1{
    color: white;
    text-align: center;
} 
h2{
    color:white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}
#chartContainer{
    width: 60%;
    height: 60%;
    text-align: center;
    border: 2px white;
}
